@model BarbieMovies.Models.Movies
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "_LayoutAdmin";
}

<div class="ContForm">
    <form class="FormAdCat" method="post" action="~/Admin/Peliculas/Eliminar" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <h1>Eliminar Pelicula</h1>
        <label>Nombre:</label>
        <input type="text" required="required" asp-for="Title" />

      
        <img id="imagePreview" src="~/img_peliculas/@(Model.Id).jpg" alt="Vista previa de la imagen" />







        <p id="error">
            @Html.ValidationSummary()
        </p>

        <div class="botones">
           
            <input type="submit" value="Eliminar" />
            <a href="~/Admin/Peliculas">
                <input type="button" value="Cancelar" formnovalidate="formnovalidate" />
            </a>
        </div>
</form>
</div>
