<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FruitStore - La mejor fruteria de la Web</title>

</head>
<body>
    <header></header>

    <main>
        <form method="post" action="~/Account/Login">
            <div>
                <h1>Iniciar sesión</h1>

                <label>Usuario</label>
                <input type="text" required="required" name="user" />
                <label>Contraseña</label>
                <input type="password" required="required" name="password" />

                <div class="botones">
                    <p id="error">
                        @Html.ValidationSummary()
                    </p>
                    <input type="submit" value="Entrar" />

                </div>
            </div>
        </form>

    </main>
</body>
</html>
