@model BarbieMovies.Models.Categories
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


@{
	Layout = "_Layout";
}


<div class="ContForm">
    <form class="FormAdCat" method="post" action="~/Account/Login">
      
            <h1>Iniciar sesión</h1>

            <label>Usuario</label>
            <input type="text" required="required" name="user" />
            <label>Contraseña</label>
            <input type="password" required="required" name="password" />
            <p id="error">
                @Html.ValidationSummary()
            </p>
            <div class="botones">
               
                <input type="submit" value="Entrar" />

            </div>
        
    </form>
</div>












