




@model IEnumerable<BarbieMovies.Models.Categories>
@{
    Layout = "_Layout";
}
<div class="ContIndex">
    @foreach (var c in Model) {
    
    <div class="categorias">
        <h1>@c.Name</h1>
        <div class="Movies">
            @foreach (var m in c.Movies)
            {
                <a href="~/Pelicula/@(m.Title.Replace(" ","-"))">
                    <img src="~/img_peliculas/@(m.Id).jpg" class="ImgPelicula" alt="Alternate Text" />
                    <label>@m.Title</label>
                </a>
            }
        </div>
    </div>
   

}
</div>






