@model BarbieMovies.Models.Categories
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers



@{
    Layout = "_LayoutAdmin";
}

    <div class="ContForm">
<form class="FormAdCat" method="post" action="~/Admin/Categorias/Editar">
        <h1>Editar Categoría</h1>
        <input type="hidden" asp-for="Id" />
        <label>Nombre:</label>
        <input type="text" required="required" asp-for="Name" />
        <p id="error">
            @Html.ValidationSummary()
        </p>
        <div class="botones">
           
            <input type="submit" value="Guardar" />
            <a href="~/Admin/Categorias">
                <input type="button" value="Cancelar" formnovalidate="formnovalidate" />
            </a>
        </div>
</form>
    </div>
