@model IEnumerable<BarbieMovies.Models.Categories>

<h1>Categorias</h1>
<ol>
	@foreach(var c in Model)
	{
		<li>@c.Name 
		<a href="~/admin/editar/@c.Id">Editar</a>
			<a href="~/admin/eliminar/@c.Id">Eliminar</a>

		</li>

	}
</ol>