@model IEnumerable<BarbieMovies.Models.Categories>

@{
	Layout = "_LayoutAdmin";
}


<div class="ContAdmin">
<h1>Categorias</h1>

<div class="contCategorias">


	@foreach (var c in Model)
	{
			<div>
				<h1>
					@c.Name


				</h1>
			<div class="Options">


					<a href="~/admin/Categorias/editar/@c.Id">Editar</a>
					<a href="~/admin/Categorias/eliminar/@c.Id">Eliminar</a>
			</div>
			

		</div>


	}
		<div class="CatAdd">
			<a href="~/admin/Categorias/Agregar/">Agregar</a>
	 </div>





</div>
</div>




