@model BarbieMovies.Models.ViewModels.BusquedaViewModel

@{
	Layout = "_LayoutAdmin";
}




<div class="ContAdmin">
	
		@if(Model.peliculas.Any()){
            <h1>@Model.peliculas.Count() resultados para "@(Model.busqueda)"</h1>
	<div class="contPeliculas">

		@foreach (var c in Model.peliculas)
		{
			<div>
				<img src="~/img_peliculas/@(c.Id).jpg" alt="Alternate Text" />
				<h1>
					@c.Title
				</h1>
				<div class="Options">


					<a href="~/admin/Peliculas/editar/@c.Id">Editar</a>
					<a href="~/admin/Peliculas/eliminar/@c.Id">Eliminar</a>
				</div>


			</div>


		}
		





	</div>
	}
	else
	{
		<h1>No hay resultados para "@(Model.busqueda)"</h1>
	}

</div>




